<!--

      <label>Make your Shopping List!</label>
      <hr>
      <input type="text" [(ngModel)] = "newProduct" (keypress)="checkEmpty()">
      <button type="button"
      class="btn btn-success"
      (click)="addNewProduct()"
      [disabled]="isEmpty" >Add</button>

      <ul class="list-group">
        <li class="list-group-item" *ngFor="let product of shoppingList">
          <a href="#">{{ product }}</a>
        </li>
      </ul>
-->
<div class="row">
  <div class="col-xs-10">
    <app-shopping-list-edit></app-shopping-list-edit>
    <hr>
    <ul class="list-group">
      <a class="list-group-item" style="cursor: pointer;"
      *ngFor="let ingredient of ingredients">
        {{ingredient.name}} ({{ingredient.amount}})
      </a>
    </ul>
  </div>
</div>
